body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
  font-size: large;
}

td {
  vertical-align: middle;
}

.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  min-width: 1000px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  padding-bottom: 15px;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title .center {
  display: flex;
  justify-content: center;
}

.table-title h4 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn {
  color: #fff;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-background {
  background-color: #eee;
}

.btn-table {
  float: right;
}

.checkbox-reg {
  margin: 1rem;
  display: flex;
}

.btn-reg {
  margin: 1rem;
  display: flex;
}

/* .form-control {
  width: 35%;
  max-width: 40%;
} */

/*Pagination */
.pagination {
  float: right;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Modal styles */
.modal .modal-dialog {
  /* max-width: 500px; */
}

/* .modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
} */

/* .modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
} */

/* .modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
} */

/* .modal .modal-title {
  display: inline-block;
} */

/* .modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
} */

/* .modal textarea.form-control {
  resize: vertical;
} */

/* .modal .btn {
  border-radius: 2px;
  min-width: 100px;
}

.modal form label {
  font-weight: normal;
}  */

.nema-unetih {
  text-align: center;
}

.btn-act {
  padding: 4px;
}

/*CSS ZA NAVIGACIJU ZA COWORKING DROPDOWN*/
.coworking-dropdown>a {
  color: #000000 !important;
  /* Example: Change the text color */
  background-color: #a3c57b !important;
  /* Example: Change the background color */
  font-weight: bolder;
}

.coworking-dropdown-item {
  color: #495057;
}

.coworking-dropdown-item.active {
  background-color: #a3c57b;
  color: #000000;
  font-weight: bolder;
}

/*CSS ZA NAVIGACIJU ZA OMLADINSKI CENTAR DROPDOWN*/
.omladinski-dropdown>a {
  color: #000000 !important;
  /* Example: Change the text color */
  background-color: #fbb537 !important;
  /* Example: Change the background color */
  font-weight: bolder;
}

.omladinski-dropdown-item {
  color: #495057;
}

.omladinski-dropdown-item.active {
  background-color: #fbb537;
  color: #000000;
  font-weight: bolder;
}

/*CSS ZA NAVIGACIJU ZA AKTIVNOSTI DROPDOWN*/
.aktivnosti-dropdown>a {
  color: #000000 !important;
  /* Example: Change the text color */
  background-color: #f56f66 !important;
  /* Example: Change the background color */
  font-weight: bolder;
}

.aktivnosti-dropdown-item {
  color: #495057;
}

.aktivnosti-dropdown-item.active {
  background-color: #f56f66;
  color: #000000;
  font-weight: bolder;
}

/*CSS ZA NAVIGACIJU ZA SIFARNIK DROPDOWN*/
.sifarnik-dropdown>a {
  color: #000000 !important;
  /* Example: Change the text color */
  background-color: #61cddc !important;
  /* Example: Change the background color */
  font-weight: bolder;
}

.sifarnik-dropdown-item {
  color: #495057;
}

.sifarnik-dropdown-item.active {
  background-color: #61cddc;
  color: #000000;
  font-weight: bolder;
}

/*CSS ZA NAVIGACIJU ZA ZAPOSLENE*/
.zaposleni-dropdown-item {
  color: #495057;
}

.zaposleni-dropdown-item.active {
  background-color: #a18bbd;
  color: #000000;
  font-weight: bolder;
}

/*CSS ZA NAVIGACIJU ZA UCESNICI*/
.ucesnici-dropdown-item {
  color: #495057;
}

.ucesnici-dropdown-item.active {
  background-color: #a3c57b;
  color: #000000;
  font-weight: bolder;
}

/*CSS ZA NAVIGACIJU ZA REGISTRACIJU I CHECKIN*/
.registracija-dropdown-item {
  color: #495057;
}

.registracija-dropdown-item.active {
  background-color: #a18bbd;
  color: #000000;
  font-weight: bolder;
}

/*CARD I POZADINE ZA CARD*/
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg-c-green {
  background: #a3c57b;
}

.bg-c-yellow {
  background: #fbb537;
}

.bg-c-red {
  background: #f56f66;
}

.bg-c-blue {
  background: #61cddc;
}

.bg-c-purple {
  background: #a18bbd;
}

.card-naslov {
  font-weight: bold;
}

.card-text {
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  /* Vertically center align items */
  justify-content: flex-end;
  /* Horizontally center align items */
}

.card-smaller-text {
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  /* Vertically center align items */
  justify-content: flex-end;
  /* Horizontally center align items */
}

.card-smallest-text {
  font-size: medium;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  /* Vertically center align items */
  justify-content: flex-end;
  /* Horizontally center align items */
}

.card-height {
  height: 672px;
}

.tabela-izvestaj {
  text-align: center;
}

/*CSS ZA IKONICE U TRENUTNO*/

.icon-container {
  display: flex;
  gap: 5px;
}

/*CSS za Logoe*/
.image-table {
  border-collapse: collapse;
  width: 100%;
}

.image-table th,
.image-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.image-table th {
  /* background-color: #f2f2f2; */
  background-color: #ffffff
}

/* CSS ZA MAINCHECKIN TAB-OVE */
.tab-content {
  background-color: #fff;
  color: #000;
}

.nav-tabs .nav-link.active {
  background-color: #a18bbd;
  color: #fff;
}

.first-tab .nav-link.active {
  background-color: #a3c57b;
}

.second-tab .nav-link.active {
  background-color: #fbb537;
}

.third-tab .nav-link.active {
  background-color: #f56f66;
}

.fourth-tab .nav-link.active {
  background-color: #61cddc;
}

.fifth-tab .nav-link.active {
  background-color: #a18bbd;
}

.prve-table th,
.prve-table td {
  text-align: center;
  vertical-align: middle;
}

.nedojavljene h5 {
  text-decoration: underline;
}

.nedojavljene .dugme {
  display: flex;
  justify-content: flex-end;
}

.logovanje {
  font-size: large;
  /* min-height: 100vh; */
}

.logovanje .card {
  border: 0.5px solid #e8e8eb;
  /* Change border color and width */
  /* border-radius: 10px; Adjust border radius for rounded corners */
  width: 600px;
  /* Adjust width as needed */
  height: auto;
  /* Auto height to fit content */
  min-height: 600px;
  /* Set a minimum height */
}

.logovanje .card-header {
  border: none;
  background-color: #fdfeff !important;
  /* Use !important if needed to override Bootstrap */
  color: #fff;
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100px;
  /* Adjust height as needed */
}

.logovanje .card-header img {
  max-width: 100%;
  /* Ensure the image fits within the header */
  height: auto;
  /* Maintain aspect ratio */
}

.logovanje .card-body {
  margin-top: 20px;
  /* Push the form down */
}

.dropdown-custom .dropdown-menu {
  left: auto;
  /* Removes the default left alignment */
  right: 0;
  /* Aligns the dropdown to the right */
  margin-left: 10px;
  /* Adds space to the left of the dropdown */
}

.resetPassword {
  font-size: large;
  /* min-height: 100vh; */
}

.resetPassword .card {
  border: 0.5px solid #e8e8eb;
  /* Change border color and width */
  /* border-radius: 10px; Adjust border radius for rounded corners */
  width: 600px;
  /* Adjust width as needed */
  height: auto;
  /* Auto height to fit content */
  min-height: 400px;
  /* Set a minimum height */
}

.resetPassword .card-header {
  border: none;
  background-color: #fdfeff !important;
  /* Use !important if needed to override Bootstrap */
  color: #fff;
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100px;
  /* Adjust height as needed */
}

.resetPassword .card-header img {
  max-width: 100%;
  /* Ensure the image fits within the header */
  height: auto;
  /* Maintain aspect ratio */
}

.resetPassword .card-body {
  margin-top: 20px;
  /* Push the form down */
}

/* TextPage.css */

.mail-success {
  text-align: center;
  background: #fff;
  margin-top: 20px;
  /* Add some space above the section */
}

.mail-success .success-inner {
  display: inline-block;
}

.mail-success .success-inner h1 {
  font-size: 100px;
  text-shadow: 3px 5px 2px #3333;
  color: #61cddc;
  font-weight: 700;
  padding-bottom: 50px;
}

.mail-success .success-inner h1 span {
  display: block;
  font-size: 25px;
  color: #333;
  font-weight: 600;
  text-shadow: none;
  margin-top: 20px;
}

.mail-success .success-inner a {
  color: #61cddc;
  text-decoration: none;
  font-weight: bold;
}

.mail-success .success-inner a:hover {
  text-decoration: underline;
}

.registracija-card {
  width: 100%;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border: none;
}

.registracija-card .card-header {
  border: none;
  background-color: #fdfeff !important;
  color: #fff;
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100px;
  /* Adjust height as needed */
}

.registracija-card .card-header img {
  max-width: 100%;
  /* Ensure the image fits within the header */
  margin-bottom: 20px;
  height: auto;
  /* Maintain aspect ratio */
}

.table {
  --bs-table-hover-bg: rgba(97, 205, 220, 0.5) !important;
}

.zaposleni-table th,
.zaposleni-table td {
  border: 1px solid #dddddd;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ZA IKONICE U TABELI DOGADJAJ */
.button-row {
  display: flex;
  gap: 8px; /* Adjust this to control the space between buttons */
  margin-bottom: 8px; /* Space between the rows */
}

.button-row button {
  /* Optional: control button size, padding, etc. */
}